<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.lefebvre.handsoff"
    android:versionCode="1"
    android:versionName="1.0" >
	
	<uses-permission android:name="android.permission.GET_TASKS"/>
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.lefebvre.handsoff.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.lefebvre.handsoff.Setting"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="fr.lefebvre.handsoff.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="fr.lefebvre.handsoff.Alarm"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="fr.lefebvre.handsoff.service" >
        </service>

        <activity
            android:name="fr.lefebvre.handsoff.Unlock"
            android:label="@string/title_activity_unlock" >
        </activity>
    </application>

</manifest>
